@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import "../variables/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: aliceblue;
  background: #161623;
  min-height: 100vh;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#2196f3, #e91e63);
  clip-path: circle(20% at 10% 10%);
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#f00, #f0f);
  clip-path: circle(30% at right 70%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(0px);
  z-index: 1;
}

.icons {
  cursor: pointer;
}

.github {
  color: white;
}

.linkedin {
  color: white;
}

.background-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bubbles {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.bubbles span {
  position: relative;
  background: white;
  border-radius: 50%;
}

.foreground-container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.note-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note.new {
  @include glass();
}

textarea {
  border: none;
  resize: none;
  @include textglass();
  z-index: 1;
}

textarea:focus {
  outline: none;
}

.save {
  color: white;
  @include button();
}

.save:hover {
  cursor: pointer;
}

.note {
  @include glass();
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.delete-button {
  color: white;
  @include button();
  cursor: pointer;
}

.search {
  color: black;
  display: flex;
  align-items: center;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
  z-index: 1;
}

.search input {
  border: none;
  background-color: rgb(233, 233, 233);
  width: 100%;
}

.search input:focus {
  outline: none;
}
