@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: aliceblue;
  background: #161623;
  min-height: 100vh;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#2196f3, #e91e63);
  -webkit-clip-path: circle(20% at 10% 10%);
          clip-path: circle(20% at 10% 10%);
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#f00, #f0f);
  -webkit-clip-path: circle(30% at right 70%);
          clip-path: circle(30% at right 70%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  z-index: 1;
}

.icons {
  cursor: pointer;
}

.github {
  color: white;
}

.linkedin {
  color: white;
}

.background-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bubbles {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.bubbles span {
  position: relative;
  background: white;
  border-radius: 50%;
}

.foreground-container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.note-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note.new {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

textarea {
  border: none;
  resize: none;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1;
}

textarea:focus {
  outline: none;
}

.save {
  display: inline-block;
  font-size: 0.9rem;
  text-decoration: none;
  color: white;
  border: white 1px solid;
  padding: 0.1em 0.5em;
}

.save:hover {
  background-color: aqua;
  cursor: pointer;
}

.note {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.delete-button {
  display: inline-block;
  font-size: 0.9rem;
  text-decoration: none;
  color: white;
  border: white 1px solid;
  padding: 0.1em 0.5em;
  cursor: pointer;
}

.search {
  color: black;
  display: flex;
  align-items: center;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
  z-index: 1;
}

.search input {
  border: none;
  background-color: rgb(233, 233, 233);
  width: 100%;
}

.search input:focus {
  outline: none;
}/*# sourceMappingURL=notes.css.map */